<!--form_for is deprecated-->

<button type="button" class="btn y-bg" data-toggle="modal" data-target="#formModal"><%=modal_name%></button>


<div class="modal lb-bg" id="formModal">
  <div class="modal-dialog">
    <div class="modal-content lb-bg">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100">New Listing</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
      
        <%= form_with(model: listing, url: url) do |f| %>
          <% if listing.errors.any? %>
            <div id="error_explanation">
              <% listing.errors.each do |error| %>
                
                <%= error.full_message %><br>
              <% end %>
              <br>
            </div>
          <% end %>

          <div class="input-group mb-3 lg-bg">
            <div class= "input-group-prepend">
              <span class="input-group-text mb-bg w-text">Title</span>
            </div>
            <%= f.text_field :title, class:'form-control lg-bg navy-text', placeholder:'Enter creative title here...'%>
          </div>

          <div class="input-group mb-3 lg-bg">
            <div class= "input-group-prepend">
              <span class="input-group-text mb-bg w-text">Description</span>
            </div>
            <%= f.text_area :content, class:'form-control lg-bg navy-text', rows: 6, placeholder: lorem_ipsum(300) %>
          </div>

          <div class="custom-control custom-radio">
            <%= f.radio_button :skill_level, 'beginner', class:'custom-control-input', id:'listing_beginner' %>
            <%= f.label 'beginner', class: 'custom-control-label'%>
          </div>

          <div class="custom-control custom-radio">
            <%= f.radio_button :skill_level, 'intermediate', class:'custom-control-input', id:'listing_intermediate' %>
            <%= f.label 'intermediate', class: 'custom-control-label'%>
          </div>

          <div class="custom-control custom-radio">
            <%= f.radio_button :skill_level, 'expert', class:'custom-control-input', id:'listing_expert' %>
            <%= f.label 'expert', class: 'custom-control-label'%>
          </div>
          
          <br>
          <div class="input-group mb-3 lg-bg">
            <div class="input-group-prepend">
              <span class="input-group-text mb-bg w-text">Price</span>            
            </div>
              <%= f.number_field :price, class:'form-control lg-bg navy-text', placeholder: 'Enter a price...' %>
          </div>
          <div class="input-group-text mb-bg w-text">
            <span class="text-center" style="width: 100%;">Select up to 5 tags<span>
          </div>
          
          <div class="form-group tags">
            <%= f.collection_check_boxes(:tag_ids, Tag.order(:name), :id, :name, limit:5) do |box|%>
        
              <%= box.label class:"custom-checkbox" do%>
                <%= box.check_box%>
                <span class="checkmark <%= get_tag_class(box.object.name)%>""><%= box.text %></span>
              <% end %>
            <% end %>
          </div>
          

          <div class="form-group">
            <%= f.submit class:'btn y-bg btn-block'%>
          </div>

        <% end %>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn r-bg" data-dismiss="modal">Close</button>
      </div>
    
    </div>
  </div>

</div>
