<!--form_for is deprecated-->

<button type="button" class="btn y-bg" data-toggle="modal" data-target="#formModal"><%=modal_name%></button>


<div class="modal lb-bg" id="formModal">
  <div class="modal-dialog">
    <div class="modal-content lb-bg">
      <div class="modal-header text-center">
        <h3 class="modal-title w-100 mb-text">New Listing</h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
      
        <%= form_with(model: listing, url: url) do |f| %>
          <% if listing.errors.any? %>
            <div id="error_explanation">
              <% listing.errors.each do |error| %>
                
                <%= error.full_message %><br>
              <% end %>
              <br>
            </div>
          <% end %>

          
          <%= render partial: partial_path("input_field"), locals: {f: f, label_text: 'Title', placeholder: 'Enter a creative title...', rows: nil, input_type: 'text_field'}%>
          <%= render partial: partial_path("input_field"), locals: {f: f, label_text: 'Content', placeholder: lorem_ipsum(300), rows: 6, input_type: 'text_area'}%>
          <%= render partial: partial_path("input_field"), locals: {f: f, label_text: 'Price', placeholder: 'Enter a price...', rows: nil, input_type: 'number_field'}%>
          
          <%= render partial: partial_path('label'), locals: {label_text: 'Select a Skill Level'}%>
  
          <%= render partial: partial_path('collection'), locals: {f: f, cllt_type: 'radio_button', cllt_options: radio_button_options}%>
          
          <%= render partial: partial_path('label'), locals: {label_text: 'Select Up To 5 Tags'}%>
          
          <%= render partial: partial_path('collection'), locals: {f: f, cllt_type: 'check_box', cllt_options: check_box_options}%>
 

          <div class="form-group">
            <%= f.submit class:'btn y-bg btn-block'%>
          </div>

        <% end %>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn r-bg" data-dismiss="modal">Close</button>
      </div>
    
    </div>
  </div>

</div>


