<h3><%= show_listing(listing)%></h3>

tags:
<% listing.tag_names.each do |tag| %>
  <%= tag %>
<% end %>
<br>

<% if show_content %>
  <%= listing.content %>
  <br>
<% end %>

Compensation: $<%= listing.price %><br>
Difficulty: <%= listing.difficulty %><br>
Listed By: <%= listing.creator_name %><br><br>
