<h3><%= show_listing(listing)%></h3>

<div class="tags">
  <% listing.tag_names.each do |tag| %>
    <span class=<%= get_tag_class(tag) %>><%= tag %></span>
  <% end %>
</div>

<% if show_content %>
  <%= listing.content %>
  <br>
<% end %>

<div class="listing-info">
  Compensation: $<%= listing.price %><br>
  Difficulty: <%= listing.difficulty %><br>
  Listed By: <%= listing.creator_name %><br><br>
</div>
