<div class="show-head" style="inline">
  <h3><%= show_listing(listing)%>
  <% if params[:user_id] %>
    <%= link_to "Edit", edit_user_listing_path(current_user, listing), type: "button", class: "btn y-bg" %>
    <%= link_to "Delete", user_listing_path(current_user, listing), type:'button', class:"btn r-bg", method:'delete'%>
  <% end %>
  </h3>
</div>
<div class="tags">
  <% listing.tag_names.each do |tag| %>
    <span class="no-link-style <%= get_tag_class(tag) %>"><%= link_to tag, listings_path%></span>
  <% end %>
</div>

<% if show_content %>
  <%= listing.content %>
  <br>
<% end %>

<div class="listing-info">
  <h6>Compensation: $<%= listing.price %></h6>
  <h6>Skill Level: <%= listing.skill_level %></h6>
  <h6>Listed By: <%= listing.creator_name %></h6>
  <br>
</div>








