<h1><%="My " if params[:user_id] %>Listings</h1>


<% @listings.each do |listing| %>
  <h3><%= listing.title %></h3><br>
  <p><%= listing.content %><p>
  <p><%= listing.price %><p>
  <%= listing.difficulty %><br>
  <%= listing.creator_name%><br>
<% end %>